@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Optional: add a custom class if you want */
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .card { perspective: 800px;}
  .card__content {transform-style: preserve-3d;}
  .card:hover .card__content {transform: rotateY(.5turn);}
  
  .card__front,
  .card__back { backface-visibility: hidden;}
  .card__back{ transform: rotateY(.5turn);}
  

  .blinking-cursor {
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(0);
    }
    70% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(50px);
    }
  }

  @keyframes click
  {
    0% {
      transform: translateX(50px) scale(1);
    }
    30% {
      transform: translateX(50px) scale(1);
    }
    70% {
      transform: translateX(50px) scale(0.85);
    }
    100% {
      transform: translateX(50px) scale(1);
    }
  }

  .animate-click {
    animation: click 1500ms ease-in-out forwards infinite alternate;
  }

  .animate-moveRight {
    animation: moveRight 1500ms ease-in-out forwards infinite alternate;
  }

  #menu-btn.open .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(0px, 0px);
  }
  #menu-btn.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }
  #menu-btn.open .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(-3.5px, 3.5px);
  }

  #mobile-menu {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Aby při skrytí menu nebylo klikatelné */
  }
  
  #mobile-menu.show {
    opacity: 1;
    pointer-events: auto;
  }

  #hand-icon {
    transition: opacity 1s ease;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 20px;
  }

  .swiper-pagination-bullet {
    background-color: #27272a; /* Tailwind bg-zinc-800 */
    opacity: 1;
    width: 12px;
    height: 12px;
    border-radius: 9999px;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: linear-gradient(to top, #075985, #38bdf8); /* cyan-800 → sky-400 */
  }

  .swiper-button-prev,
.swiper-button-next {
  background: linear-gradient(to top, #075985, #38bdf8); /* gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  width: 40px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.swiper-wrapper {
  height: 100%;
}
.swiper-slide {
  height: 100% !important;
}

html {
  scroll-behavior: smooth;
}


.fade-in {
  opacity: 0;               /* skryté */
  transform: translateY(20px); /* posun dolů */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;               /* viditelné */
  transform: translateY(0); /* návrat do pozice */
}